# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Entorno virtual
venv/
env/
ENV/
env.bak/
venv.bak/

# Archivos de configuración del entorno
*.env

# Archivos de base de datos
*.sqlite3

# Archivos de logs
*.log

# Archivos de compilación
*.egg
*.egg-info/
dist/
build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.suo
*.sln

# Configuraciones específicas de OS
*.swp
